<ion-view view-title="Daily Test">
  <ion-content class="padding scroll-bg">
   <div class="content-bg" ng-if="pageInfo.template == ''">

    <div class="test-list pos-relative" ng-repeat="dt in dailytest">
      <h4>{{dt.daily_test_name}}</h4>
      <div class="clearfix">
        <span class="pull-left"><b>Sub:</b> {{dt.subject_name}}</span>
        <span class="pull-right"><b>Date:</b> {{dt.created_at.split(' ')[0]}}</span>
      </div>
      <div class="clearfix">
        <span class="pull-left"><b>Mark:</b> {{dt.mark}}</span>
        <span class="pull-right test-btn">
          <a ng-show="dt.tests.length" ng-click="dt.expand = !dt.expand;"><i class="fa fa-file"></i></a>
          <a ng-click="selectedTest(dt); pageInfo.template = 'read';"><i class="fa fa-eye"></i></a>
          <a ng-click="selectedTest(dt); pageInfo.template = 'write';"><i class="fa fa-edit"></i></a>
        </span>
      </div>
      <div class="clearfix mark-list" ng-if="dt.expand">
        <span ng-repeat="mark in dt.tests">{{mark.mark}}</span>
        <div>
          <button>View Detailed Report</button>
        </div>
      </div>
    </div>

   	<div class="row border header">
      <div class="padding">S.No</div>
      <div class="padding">Date</div>
      <div class="padding">Subject</div>
      <div class="padding">Test Name</div>
      <div class="padding">Total</div>
      <div class="padding">Marks</div>
      <div class="padding">Action</div>
    </div>
    <div class="row border" ng-repeat="dt in dailytest">
      <div class="padding">{{$index+1}}</div>
      <div class="padding">{{dt.date}}</div>
      <div class="padding">{{dt.subject}}</div>
      <div class="padding"> {{dt.testname}}</div>
      <div class="padding">{{dt.total}}</div>
      <div class="padding"><a ui-sref="report"></a>{{dt.marks}}</div>
      <div class="row padding">
        <a class="col-30 pad-5"  ng-click="selectedTest(dt); pageInfo.template = 'read';"><i class="fa fa-eye"></i></a>
        <a class="col-30 pad-5"  ng-click="selectedTest(dt); pageInfo.template = 'write';"><i class="fa fa-edit"></i></a>
        <a class="col-30 pad-5"  ng-click="selectedTest(dt); pageInfo.template = 'report';"><i class="fa fa-file"></i></a>
      </div>
    </div>
  </div>
 <div class="content-bg" ng-if="pageInfo.template == 'read'">
  <div class="row" ng-model="dailytest">
    <div><label>Subjet: </label><label>{{selected.subject}}</label></div>
    <div><label>Test Name: </label><label>{{selected.testname}}</label></div>
    <div><label>Mark: </label><label>{{selected.total}}</label></div>
    <div><label>Remark: </label><label>{{selected.remark}}</label></div>
    
  </div>
      <div ng-repeat="qs in que_ans">
        <div class="padding"><h4>{{qs.question_type}}</h4></div>
        <div class="padding" ng-repeat="qs2 in qs.questions">
          <p>{{$index+1}}. {{qs2.question}}</p>
          <p><b>Ans</b>. {{qs2.answer}}</p>
        </div>
        </div>
        <div class="text-center padding">
           <button class="button button-positive" ng-click="pageInfo.template = 'write';">Write Test</button>
         </div>
  </div>
  <div class="content-bg" ng-if="pageInfo.template == 'write'">
      <div ng-repeat="qs in que_ans">
        <div class="padding"><h4>{{qs.question_type}}</h4></div>
        <div class="padding" ng-repeat="qs2 in qs.questions">
          <p>{{$index+1}}. {{qs2.question}}</p>
          <p><b>Ans</b>. <input type="text"></p>
        </div>
        </div>
        <div class="text-center padding">
           <button class="button button-balanced" >Save</button>
         </div>
   </div>
   
   <div class="content-bg" ng-if="pageInfo.template == 'report'">
      <div ng-repeat="qs in que_ans">
        <div class="padding"><h4>{{qs.question_type}}</h4></div>
        <div class="padding" ng-repeat="qs2 in qs.questions">
          <p>{{$index+1}}. {{qs2.question}}</p>
          <p><b>Ans</b>. <input type="text"></p>
        </div>
        </div>
   </div>
  
  </ion-content>
</ion-view>

