<ion-view view-title="Self Test">
  <ion-content class="padding scroll-bg" >
   <div class="content-bg" ng-if="pageInfo.template == ''">

 <div class="text-right "><button ng-if="isOnline" class=" di-block datepick button button-block button-positive" ng-click="pageInfo.template = 'create';">Create Test</button></div>
<div class="test-list pos-relative" ng-repeat="st in selftest">
      <h4>{{st.daily_test_name}}</h4>
      <div class="clearfix">
        <span class="pull-left"><b>Sub:</b> {{st.subject_name}}</span>
        <span class="pull-right"><b>Date:</b> {{st.created_at.split(' ')[0]}}</span>
      </div>
      <div class="clearfix">
        <span class="pull-left"><b>Mark:</b> {{st.mark}}</span>
        <span class="pull-right test-btn">
          <a ng-show="st.tests.length" ng-click="st.expand = !st.expand;"><i class="fa fa-file"></i></a>
          <a ng-click="selectedTest(st); pageInfo.template = 'read'; getReadData(st.id);"><i class="fa fa-eye"></i></a>
          <a ng-click="selectedTest(st); pageInfo.template = 'write';getReadData(st.id);"><i class="fa fa-edit"></i></a>
        </span>
      </div>
      <div class="clearfix mark-list" ng-if="st.expand">
        <span ng-repeat="mark in st.tests" ng-click="selectedTest(st);pageInfo.template='review'; getReviewData(st.id, mark.id)">{{mark.mark}}</span>
        <div>
          <button class="button button-block button-positive" ng-click="selectedTest(st);pageInfo.template='report'; getReportData(st.id)">View Detailed Report</button>
        </div>
      </div>
    </div>
</div>
</div>

  <div class="content-bg" ng-if="pageInfo.template == 'create'">
  <div >
    <div >
         <div class="padding"><h4>{{class}} {{section}}</h4></div>
         <div>
           <label class="padding label">Term</label> 
           <select class="select" ng-model="pageInfo.term" ng-change="get_results()">
            <option value="">Select Term</option>
            <option value="Term 1">Term 1</option>
            <option value="Term 2">Term 2</option>
            <option value="Term 3">Term 3</option>
           </select>
         </div>
         <div>
           <label class="padding label">Subject</label> 
           <select class="select" ng-model="pageInfo.sub" ng-change="get_results()">
            <option value="">Select Subject</option>
            <option ng-repeat="su in subjects" value="{{su.subject_name}}">{{su.subject_name}}</option>
           </select>
          </div>
          
        <div class="row border header">
          <div class="padding w20">S.No</div>
          <div class="padding w60">Chapter</div>
          <div class="padding w20">Action</div>
        </div>
        <div class="row border" ng-repeat="st in testresults">
          <div class="padding w20">{{$index+1}}</div>
          <div class="padding w60">{{st.chapter}}</div>
          <div class="padding w20">
            <input type="checkbox" ng-model="pageInfo.assign[st.id]">            
          </div>
        </div>
         </div>
    
  </div>
        <div class="text-center padding">
           <button class="button button-positive" ng-click="assign_self_test();">Write Test</button>
         </div>
  </div>


 <div class="content-bg" ng-if="pageInfo.template == 'read'">
<!--   <div class="closediv">
    <i class="pg-close fas fa-arrow-left" ng-click="get_test()"></i>
  </div> -->
  <div class="test-list">
    <div class="row ">
      <div class="col-50"><label><b>Subject:</b> </label><label>{{readPageData.info.subject_name}}</label></div>
      <div class="col-50"><label><b>Test Name:</b> </label><label>{{readPageData.info.daily_test_name}}</label></div>
    </div>
    <div class="row">
      <div class="col-50"><label><b>Mark:</b> </label><label>{{readPageData.info.mark}}</label></div>
      <div class="col-50"><label><b>Remark:</b> </label><label>{{readPageData.info.daily_test_remark}}</label></div>
    </div>
    </div>

      <div class="test-list" ng-repeat="(type, questions) in readPageData.questions">
        <div class="padding"><h4>{{type}}</h4></div>
        <div ng-if="type == 'Fill Up'" class="padding" ng-repeat="qs2 in questions">
          <p>{{$index+1}}. {{qs2.question}}</p>
          <p><b>Ans:</b> {{qs2.answer}}</p>
          
        </div>
        <div ng-if="type == 'Opposites'" class="padding" ng-repeat="qs2 in questions">
          <span>{{$index+1}}. {{qs2.question}}</span> X <span>{{qs2.answer}}</span>
        </div>
        <div ng-if="type == 'Meanings' || type == 'Match' || type == 'Other'" class="padding" ng-repeat="qs2 in questions">
          <span>{{$index+1}}. {{qs2.question}}</span> - <span>{{qs2.answer}}</span>
        </div>
        <div ng-if="type == 'Missing Letters' || type == 'Jumbled Letters' || type == 'Jumbled Words'" class="padding" ng-repeat="qs2 in questions">
          <span>{{$index+1}}. {{qs2.question}}</span>
        </div>
        <div ng-if="type == 'Choose'" class="padding" ng-repeat="qs2 in questions">
          <p>{{$index+1}}. {{qs2.question}}</p>
          <p><span class="padding">A) {{qs2.optiona}}</span><span class="padding">B) {{qs2.optionb}}</span><span class="padding" ng-hide="qs2.optionc == 'null' || qs2.optionc =='' ">C) {{qs2.optionc}}</span><span class="padding" ng-hide="qs2.optiond =! null || qs2.optiond ==''">D) {{qs2.optiond}}</span></p>
           <p><b>Ans:</b>{{qs2.answer}}</p>
        </div>
        </div>
        <div class="text-center padding">
           <button class="button button-positive" ng-click="pageInfo.template = 'write';">Write Test</button>
         </div>
  </div>
  <div class="content-bg" ng-if="pageInfo.template == 'write'">
    <!-- <div class="closediv">
      <i class="pg-close fas fa-arrow-left" ng-click="get_test()"></i>
    </div> -->
        <div class="test-list">
    <div class="row ">
      <div class="col-50"><label><b>Subject:</b> </label><label>{{readPageData.info.subject_name}}</label></div>
      <div class="col-50"><label><b>Test Name:</b> </label><label>{{readPageData.info.daily_test_name}}</label></div>
    </div>
    <div class="row">
      <div class="col-50"><label><b>Mark:</b> </label><label>{{readPageData.info.mark}}</label></div>
      <div class="col-50"><label><b>Remark:</b> </label><label>{{readPageData.info.daily_test_remark}}</label></div>
    </div>
    </div>

          <div class="test-list" ng-repeat="(type, questions) in readPageData.questions" >
        <div class="padding">
          <h4 ng-if="type !== 'Other'">{{type}}</h4>
          <h4 ng-if="type == 'Other'">{{questions[0].other_type}}</h4>
        </div>

        <div ng-if="type == 'Fill Up' || type == 'Other' || type == 'One or Two Words' || type == 'True or False'" class="padding" ng-repeat="qs2 in questions">
          <p>{{$index+1}}. {{qs2.question}}</p>
          <p><input ng-model="pageInfo.writetest.questions[qs2.id]"></p>
          
        </div>
        <div ng-repeat="qs2 in questions" ng-init="pageInfo.writetest.questions[qs2.id]='';">
          <div ng-if="type == 'Opposites'" class="padding" >
            <span>{{$index+1}}. {{qs2.question}}</span> X <input ng-model="pageInfo.writetest.questions[qs2.id]">
          </div>
          <div ng-if="type == 'Meanings' || type == 'Match'" class="padding" >
            <span>{{$index+1}}. {{qs2.question}}</span> - <input ng-model="pageInfo.writetest.questions[qs2.id]">
          </div>
          <div ng-if="type == 'Missing Letters' || type == 'Jumbled Letters' || type == 'Jumbled Words'" class="padding" >
            <span>{{$index+1}}. {{pageInfo.writetest.question_answers[qs2.id]}}</span> - <input ng-model="pageInfo.writetest.questions[qs2.id]">
          </div>
          <div ng-if="type == 'Choose' " class="padding" >
            <p>{{$index+1}}. {{qs2.question}}</p>
            <p class="padding">A) {{qs2.optiona}}</p>
            <p class="padding">B) {{qs2.optionb}}</p>
            <p class="padding" ng-show="qs2.optionc">C) {{qs2.optionc}}</p>
            <p class="padding" ng-show="qs2.optiond ">D) {{qs2.optiond}}</p>
             <p><input ng-model="pageInfo.writetest.questions[qs2.id]"></p>
          </div>
        </div>
        
        </div>
          <div class="text-center padding">
               <button class="button button-balanced" ng-click="writetest()">Save</button>
          </div>
   </div>
   
   <div class="content-bg" ng-if="pageInfo.template == 'report'">
    <!-- <div class="closediv">
           <i class="pg-close fas fa-arrow-left" ng-click="get_test()"></i>
         </div> -->
  <div class="test-list">
    <div class="row ">
      <div class="col-50"><label><b>Subject:</b> </label><label>{{reportPageData.info.subject_name}}</label></div>
      <div class="col-50"><label><b>Test Name:</b> </label><label>{{reportPageData.info.daily_test_name}}</label></div>
    </div>
    <div class="row">
      <div class="col-50"><label><b>Mark:</b> </label><label>{{reportPageData.info.mark}}</label></div>
      <div class="col-50"><label><b>Remark:</b> </label><label>{{reportPageData.info.daily_test_remark}}</label></div>
    </div>
    </div>
    
      <div class="test-list pos-relative" ng-repeat="qr in reportPageData.questions">
          <h4>{{qr.question_type}}</h4>
          <div class="clearfix" >
            <div><b>{{$index+1}}. Question:</b> {{qr.question}} </div>
            <div><b>Ans:</b> {{qr.answer}}</div>

            
          <div class="clearfix mark-list text-center ">
            <div class="clearfix testatm " >
              <span ng-class="{greenbtn: re.daily_test_mark == 1, redbtn: re.daily_test_mark == 0}" ng-repeat="re in qr.results">T{{$index+1}}</span>
          </div>
          <div class="clearfix ">
            <span class="ca"><b>CA:</b>{{qr.correct}}</span>
            <span class="wa"><b>WA:</b>{{qr.wrong}}</span>            
          </div>  
          </div>
           
          </div>              
       </div>
      </div>

   <div class="content-bg" ng-if="pageInfo.template == 'review'">
       <!-- <div class="closediv">
        <i class="pg-close fas fa-arrow-left" ng-click="get_test()"></i>
      </div> -->
      <div class="test-list">
        <div class="row ">
          <div class="col-50"><label><b>Subject:</b> </label><label>{{reviewPageData.info.subject_name}}</label></div>
          <div class="col-50"><label><b>Test Name:</b> </label><label>{{reviewPageData.info.daily_test_name}}</label></div>
        </div>
        <div class="row">
          <div class="col-50"><label><b>Mark:</b> </label><label>{{reviewPageData.info.mark}}</label></div>
          <div class="col-50"><label><b>Remark:</b> </label><label>{{reviewPageData.info.daily_test_remark}}</label></div>
        </div>
        </div>
      <div class="test-list pos-relative" ng-repeat="(type,questions) in reviewPageData.questions">
          <h4>{{type}}</h4>
          <div class="clearfix" ng-repeat="qs3 in questions">
            <div><b>{{$index+1}}. Question:</b>{{qs3.question}} </div>
            <div><b>Ans:</b>{{qs3.answer}}</div>
            <div ng-class="{ca: qs3.urans.daily_test_mark == 1, wa: qs3.urans.daily_test_mark == 0}" ><b>Your Ans:</b> {{qs3.urans.answer}}</div> 
                           
          </div>              
       </div>
   </div>
  
  </ion-content>
</ion-view>

