<ion-view view-title="Calendar">
  <ion-content class="padding scroll-bg">
   <div class="content-bg">
      <div id='calendar' class="padding test-list"></div>
   </div>

  <div class="fc-popover fc-more-popover customised_popover ng-hide" style="top: 95px; left: 91px;background: #fff;" ng-click="$event.stopPropagation();">
      <div class="fc-header fc-widget-header" style="background: #eee">
        <span class="fc-title" id="cpdate">October 1, 2019</span>
        <span class="fc-close fc-icon fc-icon-x" ng-click="hidepopover()"></span>
      </div>
      <div class="fc-body fc-widget-content">
        <div class="fc-event-container">
          <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end event fc-draggable" id="eventcolor">
            <div class="fc-content"> 
                <span class="fc-title" id="cptitle">Quarterly Holiday</span>
            </div>
          </a>         
        </div>
      </div>
  </div>
 
  </ion-content>
</ion-view>