<ion-view view-title="Profile">
  <ion-content class="padding scroll-bg">
   <div class="content-bg">
     
                <div class="">
                        <div class="padding">
                            <h4 class="">Personal Details</h4>
                        </div>

                        <div class="">
                            
                                <div class="row  padding">
                                    <label class="col-50">Student Name</label>                                    
                                    <input type="text" class="col-50" name="studentName" ng-model="profile.name" readonly/>
                                </div>

                                <div class="row  padding">
                                    <label class="col-50 ">Admission Number</label>
                                    <input type="text" class="col-50" name="admissionNum" ng-model="profile.admissionnumber" readonly />
                                </div>

                                <div class="row padding">
                                    <label class=" col-50">Date of Birth</label>
                                    <input type="text" class="col-50" name="dob" ng-model="profile.dob" readonly />
                                </div>

                                <div class="row padding">
                                    <label class=" col-50">Date of Joining</label>
                                    <input type="text" class="col-50" name="doj" ng-model="profile.doj" readonly />
                                </div>

                                <div class="row padding">
                                    <label class="col-50 ">Class Joining</label>
                                   <input type="text" class="col-50" name="classJoining" ng-model="profile.classjoin" readonly/>
                                </div>

                                <div class="row padding">
                                    <label class="col-50 ">Gender</label>
                                    <input type="text" name="gender" class="col-50" ng-model="profile.gender" readonly />
                                </div>

                                <div class="row padding">
                                    <label class="col-50 ">Father Name</label>
                                    <input type="text" class="col-50" name="fatherName" ng-model="profile.fathername" readonly>
                                </div>

                                <div class="row padding">
                                    <label class="col-50 ">Mother Name</label>
                                    <input type="text" class="col-50" name="motherName" ng-model="profile.mothername" readonly>
                                </div>
                               <div class="row padding">
                                    <label class="col-50 ">Nationality</label>
                                    <input type="text" class="col-50" name="nationality" ng-model="profile.nationality" readonly />
                                </div>

                                <div class="row padding">
                                    <label class=" col-50">Religion</label>
                                    <input type="text" class="col-50" name="religion" ng-model="profile.religion" readonly />
                                </div>

                                <div class="row padding">
                                    <label class="col-50 ">Caste</label>
                                    <input type="text" class="col-50" name="caste" vng-model="profile.caste" readonly />
                                </div>

                                <div class="row padding">
                                    <label class="col-50 ">Aadhar Number</label>
                                    <input type="number" class="col-50" name="aadharNumber" ng-model="profile.aadharnumber" readonly>
                                </div>

                                <div class="row padding">
                                    <label class="col-50 ">Visible Mark</label>
                                    <textarea rows="5" class="col-50" name="visibleMark" ng-model="profile.visiblemark" readonly></textarea>
                                </div>

                                <div class="row padding">
                                    <label class="col-50 ">Disability (If any)</label>
                                    <textarea rows="5" class="col-50" name="disability" ng-model="profile.disability" readonly></itextarea>
                                </div>
                </div>
            

                <div class="padding">
                        <div class="padding">
                            <h4 class="">Contact Details</h4>
                        </div>

                        <div class="">
                            <div class="row padding">
                                    <label class="col-50">Mobile</label>
                                    <input type="number" class="col-50" maxlength="10" name="mobile" ng-model="profile.mobile" readonly />
                              </div>

                                <div class="row padding">
                                    <label class=" col-50">Email</label>
                                    <input type="email" class="col-50" name="email" ng-model="profile.email" readonly>
                                </div>

                                <div class="row padding">
                                    <label class="col-50 ">City</label>
                                    <input type="text" class="col-50" name="city" ng-model="profile.city" readonly />
                                </div>

                                <div class="row padding">
                                    <label class="col-50 ">State</label>
                                    <input type="text" class="col-50" name="state" ng-model="profile.state" readonly />
                                </div>

                                <div class="row padding">
                                    <label class="col-50 ">Country</label>
                                    <input type="text" class="col-50" name="country" ng-model="profile.country" readonly />
                                </div>

                                <div class="row padding">
                                    <label class="col-50 ">Pincode</label>
                                    <input type="number" class="col-50" name="pincode" ng-model="profile.pincode" readonly />
                                </div>
                
                                <div class="row padding">
                                    <label class=" col-50">Permanent Address</label>
                                    <textarea rows="5" cols="5" class="col-50" name="permanentAddress" ng-model="profile.permanentaddress" readonly></textarea>
                                </div>

                                <div class="row padding">
                                    <label class=" col-50">Temporary Address</label>
                                    <textarea rows="5" cols="5" class="col-50" name="tempAddress"  ng-model="profile.tempaddress" readonly></textarea>
                                </div>
                           
                        </div>
                </div>

                <div class="">
                        <div class="padding">
                            <h4 class="">
                                Academic Details
                            </h4>
                        </div>
                        <div class="">
                            <div class="row padding">
                              <label class="col-50 ">Roll No.</label>
                              <input type="text" class="col-50" name="rollNo" ng-model="profile.rollno" readonly>
                            </div>

                                <div class="row padding">
                                    <label class="col-50 ">Class</label>
                                    <input type="text" class="col-50" ng-model="profile.class" readonly />
                                </div>

                                <div class="row padding">
                                    <label class=" col-50">Section<span class="req"> *</span></label>
                                    <input type="text" class="col-50" ng-model="profile.section" readonly />
                                </div>

                                <div class="row padding">
                                    <label class="col-50 ">Sports</label>
                                    <textarea rows="5" cols="5" class="col-50" name="sportsDetails" ng-model="profile.sports" readonly></textarea>
                                </div>
                                <div class="row padding">
                                    <label class="col-50 ">Position</label>
                                    <input type="text" class="col-50" name="position" ng-model="profile.position" readonly />
                                </div>

                                <div class="row padding">
                                    <label class="col-50 ">Extra Curricular Activities</label>
                                    <textarea rows="5" cols="5" class="col-50" name="extraCurricular" ng-model="profile.extracurricular" readonly></textarea>
                                </div>

                                <div class="row padding">
                                    <label class="col-50 ">Achievements</label>
                                    <textarea rows="5" cols="5" class="col-50" name="achievements" ng-model="profile.achievements" readonly></textarea>
                                </div>
                            </div>
                         </div>
                

                <div class="">
                  <div class="padding">
                    <h4 class="">
                      Attachments
                    </h4>
                  </div>
                    <div class="row padding attachment">
                      <label class="col-50 ">Photo</label>
                      <img src="{{profile.photo}}">
                    </div>
                    <div class="row padding attachment">
                      <label class="col-50 ">DOB Proof</label>
                     <img src="{{profile.proof}}">
                    </div>
                </div>
                      
    </div>
  </ion-content>
</ion-view>