<ion-view view-title="Books">
  <ion-content class="padding scroll-bg">
   <div class="content-bg">
        <div>
           <label class="padding label">Term</label> 
           <select class="select" ng-model="pageInfo.term">
            <option value="">Select Term</option>
            <option value="Term 1">Term 1</option>
            <option value="Term 2">Term 2</option>
            <option value="Term 3">Term 3</option>
           </select>
         </div>
         <div>
           <label class="padding label">Subject</label> 
           <select class="select" ng-model="pageInfo.subject">
            <option value="">Select Subject</option>
            <option ng-repeat="su in subjects" value="{{$index}}">{{su.subject_name}}</option>
           </select>
          </div>
   	<div class="row border header">
      <div class="padding">S.No</div>
      <div class="padding">Term</div>
      <div class="padding">Description</div>
      <div class="padding">Books</div>
    </div>
    <div class="row border">
      <div class="padding">1</div>
      <div class="padding"> Term 1</div>
      <div class="padding">chapter 1 testsjkashdkfj</div>
      <div class="padding"><i class="fa fa-download"></i></div>
    </div>
   </div>
  </ion-content>
</ion-view>