<div class="row student-bg">		
	<div class="col-20">
				<nav class="menu-fab">
		          <input ng-model="menuinput" href="#" class="menu-open" name="menu-open" id="menu-open" type="checkbox">
		          <label class="menu-open-button" for="menu-open">
		          	<img src="/img/logo.png">
		            <span class="hamburger hamburger-1"></span>
		            <span class="hamburger hamburger-2"></span>
		            <span class="hamburger hamburger-3"></span>
		          </label>
		          
		          <a ui-sref="home"  ng-show="loggedInUserInfo.id" ng-click="menuinput=false" href="#" class="menu-item ng-scope md-orange-theme" tabindex="0"> <i class="fa fa-home"></i> <span>Home</span></a>
		          
		          <a  ui-sref="profile" ng-show="loggedInUserInfo.id" ng-click="menuinput=false" class="menu-item md-orange-theme" tabindex="0"> <i class="fa fa-user"></i> <span>Profile</span></a>

		          <a  ng-click="logout(); menuinput=false" ng-show="loggedInUserInfo.id" class="menu-item md-orange-theme" tabindex="0" aria-hidden="true"> <i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
				</nav>
	</div>
		
	<div class="col-80 student" ng-show="loggedInUserInfo.id">
			<div class="text-left">
				<div>{{loggedInUserInfo.name}}</div> 
				<div>({{loggedInUserInfo.admission_number}}) {{loggedInUserInfo.academic.class_name}} {{loggedInUserInfo.academic.section_name}}</div>
				<div>Teacher : {{loggedInUserInfo.teacher.teacher_name}}({{loggedInUserInfo.teacher.emp_no}})</div>
				<span><img src="{{loggedInUserInfo.academic.photo}}"></span>
			</div>
		
	</div>

	<div class="col-80 title" ng-hide="loggedInUserInfo.id">
		<h1>Sri Vinayaga Matriculation School</h1>
	</div>
		
</div>
		

