<ion-view view-title="Video Books">
  <ion-content class="padding scroll-bg">
      <div class="content-bg">
          <div>
           <label class="padding label">Term</label> 
           <select class="select" ng-model="pageInfo.term">
            <option value="">Select Term</option>
            <option value="Term 1">Term 1</option>
            <option value="Term 2">Term 2</option>
            <option value="Term 3">Term 3</option>
           </select>
         </div>
         <div>
           <label class="padding label">Subject</label> 
           <select class="select" ng-model="pageInfo.subject">
            <option value="">Select Subject</option>
            <option ng-repeat="su in subjects" value="{{$index}}">{{su.subject_name}}</option>
           </select>
          </div>
          <div> <label>Select Chapter :</label>
            <select>
              <option>Chapter 1</option>
              <option>Chapter 2</option>
              <option>Chapter 3</option>
            </select>
          </div>
          <div class="gallery">
                  <a href="">
                   <video  controls><source src="/img/gallery-1.5502970754E+12.mp4" type="video/mp4"></video>
                  </a>
            <a href=""><i class="fa fa-download"><span>Download Video Book</span></i></a>
          </div>
      </div>
  </ion-content>
</ion-view>