body.login_page ion-content{
	background: #fff;
}
.pos-relative{
	position: relative;
}
.fc-sun {
    color: #337ab7;
    border-color: black;
    background-color: #ffa58c;
}
.fc-event.event.greenEvent {
    background-color: #06df06;
    padding: 5px 0px;
}

.fc-event.event.blueEvent {
    background-color:#00c0ef;
    padding: 5px 0px;
}

.fc-event.event.presentEvent {
    background-color: #a69600;
    padding: 5px 0px;
}

.fc-event.event.absentEvent {
    background-color:#fd0303;
    padding: 5px 0px;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.w100{
	width: 100%;
}
.test-list .test-btn a{
	margin: 0 10px;
}
.test-list .test-btn{
	position: absolute;
	right: 10px;
	top: 10px;
}
.content-bg{
	background: #E7EAEB;
}
.test-list{
	background: white;
	padding: 10px;
	margin-bottom: 10px;
}
.test-list h4{
	margin-top: 0px;
	width: 60%;
}
.test-list .mark-list span{
	display: inline-block;
	padding: 5px;
	background: #00BCD4;
	color: #fff;
	margin: 0 5px;
}
.test-list .mark-list{
	padding: 10px;
	text-align: center;
	background: #E7EAEB;	
}
.test-list .mark-list button{
	width: auto;
    display: inline-block;
    padding: 0 10px;
    height: auto;
    min-height: auto;
    line-height: 30px;
}
.closediv{
	padding: 10px 0px;
}
.login span{
	padding: 13px 10px;
	position: absolute;
	font-size: 20px;
}
.login input{
	padding: 25px 45px;
	font-size: 16px;
}
.form-check-input {
    position: absolute;
    margin-top: .3rem!important;
    margin-left: -1.25rem!important;
}
.login-btn {
    width: 100%;
    font-size: 25px;
}
.title h1{
    color: white;
    font-size: 24px;
    padding: 10px 25px;
}
/*.student span{
	float: right;
    margin: -75px 5px;
}*/
.row{
	margin:0!important;
}
.in-block{
	display: inline-block;
}
.pg-arrow{
    margin-top: 15px;
    padding: 10px;
    font-size: 24px;
}

.form-control{
	display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.login input{
	margin-bottom: 20px;
}