body.login_page ion-content{
	background: #fff;
}
.pos-relative{
	position: relative;
}
.fc-sun {
    color: #337ab7;
    border-color: black;
    background-color: #ffa58c;
}
.fc-event.event.greenEvent {
    background-color: #06df06;
}

.fc-event.event.blueEvent {
    background-color:#00c0ef;
}

.fc-event.event.presentEvent {
    background-color: #a69600;
}

.fc-event.event.absentEvent {
    background-color:#fd0303;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.w100{
	width: 100%;
}
.test-list .test-btn a{
	margin: 0 10px;
}
.test-list .test-btn{
	position: absolute;
	right: 10px;
	top: 10px;
}
.test_page,.selftest_page .content-bg{
	background: #E7EAEB;
}
.test-list{
	background: white;
	padding: 10px;
	margin-bottom: 10px;
}
.test-list h4{
	margin-top: 0px;
}
.test-list .mark-list span{
	display: inline-block;
	padding: 5px;
	background: #00BCD4;
	color: #fff;
	margin: 0 5px;
}
.test-list .mark-list{
	padding: 10px;
	text-align: center;
	background: #E7EAEB;	
}
.test-list .mark-list button{
	width: auto;
    display: inline-block;
    padding: 0 10px;
    height: auto;
    min-height: auto;
    line-height: 30px;
}
